<div class="clear-header-margin-bottom"></div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <a ng-href="#skipHeader" class="scrollBtn hidden-xs">Scroll</a>
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{'active' : $index == 0}" ng-repeat="popularProduct in popularProducts"></li>
    </ol>

    <div class="carousel-inner ez-carousel" role="listbox">
        <div class="item thumbnail-frame" ng-class="{'active' : $index == 0}" ng-repeat="popularProduct in popularProducts">
            <a ng-href="{{popularProducts.getUrl(popularProduct)}}">
                <img ng-src="{{popularProducts.getImageUrl(popularProduct)}}" alt="Slide {{$index}}">
            </a>
        </div>
    </div>
    <span class="left carousel-control" ng-href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </span>
    <span class="right carousel-control" ng-href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </span>
</div>
<div ng-include src="'html/plugin/popular_link.html'" ng-controller="popularCategoriesController"></div>
