<div class="container  ez-content">

    <!-- Example row of columns -->
    <div class="row">

        <div class="col-md-3">
            <div class="jumbotron">
                <h3 style="">Category</h3>
                <!--<a ng-href="#/product_search_filter"><p style="font-size:14px;">Decals</p></a>-->
                <a href="" ng-click="goto('hangings');"><p style="font-size:14px;">Wall Hangings</p></a>
                <a href="" ng-click="goto('decals');"><p style="font-size:14px;">Wall Decals</p></a>
                <a href="" ng-click="goto('papers');"><p style="font-size:14px;">Wall Papers</p></a>

                <h3>Application Senario</h3>
                <a ng-href="#/product_search_filter"><p style="font-size:14px;">Bedroom</p></a>
                <a ng-href="#/product_search_filter"><p style="font-size:14px;">Living room</p></a>
                <a ng-href="#/product_search_filter"><p style="font-size:14px;">Dining room</p></a>
                <a ng-href="#/product_search_filter"><p style="font-size:14px;">Nursery room</p></a>
                <a ng-href="#/product_search_filter"><p style="font-size:14px;">Study room</p></a>
                <a ng-href="#/product_search_filter"><p style="font-size:14px;">Bathroom</p></a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <input type="text" class="form-control" placeholder="Search"  ng-model="query">
            </div>
            
            <!--
            <div class="row">
                <hr>
                <div class="col-md-6">
                <h4>Decals</h4>
                    </div>
                <div class="col-md-1 col-md-offset-5">
                <button type="submit" class="btn btn-info" onclick="window.location.ng-href='#/product_search_result'">More</button>
                    </div>
            </div>

            <div class="row text-center">
                <div ng-repeat="decal in Decals | filter:query">
                    <div class="col-md-3">
                        <a ng-href="#/product" class="thumbnail">
                            <img src="./resource/image/category/{{decal.category}}/sku_{{decal.SKU}}/1.jpg" alt="...">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h4>{{decal.name}}</h4>
                                    <p>{{decal.category}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            -->

            <div class="row">
                <hr>
                <div class="col-md-6">
                <h4 id="hangings">Wall Hangings</h4>
                    </div>
                <div class="col-md-1 col-md-offset-5">
                <button type="submit" class="btn btn-info" onclick="window.location.ng-href='#/product_search_result'">More</button>
                    </div>
            </div>

            <div class="row text-center">
                <div ng-repeat="wallHanging in wallHangings | filter:query" class="thumbnail-frame col-md-3 col-xs-6">
						<a ng-href="{{wallHangings.getUrl(wallHanging)}}" class="thumbnail" ng-if="$index<8">
							<img ng-src="{{wallHangings.getImageUrl(wallHanging)}}" alt="...">
							<div class="popular-link-title">
								<h4 ng-switch="wallHangings.type" class="text-uppercase">
									<span ng-switch-when="category" ng-bind="wallHanging.categoryName"></span>
									<span ng-switch-when="product" ng-bind="wallHanging.productName"></span>
								<h4>
							</div>
						</a>
					</div>
            </div>
            

            <div class="row">
                <hr>
                <div class="col-md-6">
                <h4 id="decals">Wall Decals</h4>
                    </div>
                <div class="col-md-1 col-md-offset-5">
                <button type="submit" class="btn btn-info" onclick="window.location.ng-href='#/product_search_result'">More</button>
                    </div>
            </div>

            <div class="row text-center">
                <div ng-repeat="wallDecal in wallDecals | filter:query" class="thumbnail-frame col-md-3 col-xs-6">
						<a ng-href="{{wallDecals.getUrl(wallDecal)}}" class="thumbnail" ng-if="$index<8">
							<img ng-src="{{wallDecals.getImageUrl(wallDecal)}}" alt="...">
							<div class="popular-link-title">
								<h4 ng-switch="wallDecals.type" class="text-uppercase">
									<span ng-switch-when="category" ng-bind="wallDecal.categoryName"></span>
									<span ng-switch-when="product" ng-bind="wallDecal.productName"></span>
								<h4>
							</div>
						</a>
					</div>
            </div>

            <div class="row">
                <hr>
                <div class="col-md-6">
                <h4 id="papers">Wall Papers</h4>
                    </div>
                <div class="col-md-1 col-md-offset-5">
                <button type="submit" class="btn btn-info" onclick="window.location.ng-href='#/product_search_result'">More</button>
                    </div>
            </div>

            <div class="row text-center">
                <div ng-repeat="wallPaper in wallPapers | filter:query" class="thumbnail-frame col-md-3 col-xs-6">
						<a ng-href="{{wallPapers.getUrl(wallPaper)}}" class="thumbnail" ng-if="$index<8">
							<img ng-src="{{wallPapers.getImageUrl(wallPaper)}}" alt="...">
							<div class="popular-link-title">
								<h4 ng-switch="wallPapers.type" class="text-uppercase">
									<span ng-switch-when="category" ng-bind="wallPaper.categoryName"></span>
									<span ng-switch-when="product" ng-bind="wallPaper.productName"></span>
								<h4>
							</div>
						</a>
					</div>
            </div>
        </div>
    </div>
</div>