<div class="container  ez-content">

    <!-- Example row of columns -->
    <div class="row">

        <div class="col-md-3">
            <div class="jumbotron">
                <h3 style="">Category</h3>
                <a href="#/product_search_filter"><p style="font-size:14px;">Decals</p></a>
                <a href="#/product_search_filter"><p style="font-size:14px;">Wall hangings</p></a>
                <a href="#/product_search_filter"><p style="font-size:14px;">Wall murals</p></a>
                <a href="#/product_search_filter"><p style="font-size:14px;">Glass films</p></a>

                <h3>Application Senario</h3>
                <a href="#/product_search_filter"><p style="font-size:14px;">Bedroom</p></a>
                <a href="#/product_search_filter"><p style="font-size:14px;">Living room</p></a>
                <a href="#/product_search_filter"><p style="font-size:14px;">Dining room</p></a>
                <a href="#/product_search_filter"><p style="font-size:14px;">Nursery room</p></a>
                <a href="#/product_search_filter"><p style="font-size:14px;">Study room</p></a>
                <a href="#/product_search_filter"><p style="font-size:14px;">Bathroom</p></a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <input type="text" class="form-control" placeholder="Search"  ng-model="query">
            </div>
            
            <div class="row">
                <hr>
                <div class="col-md-6">
                <h4>Decals</h4>
                    </div>
                <div class="col-md-1 col-md-offset-5">
                <button type="submit" class="btn btn-info" onclick="window.location.href='#/product_search_result'">More</button>
                    </div>
            </div>

            <div class="row text-center">
                <div ng-repeat="decal in Decals | filter:query">
                    <div class="col-md-3">
                        <a href="#/product" class="thumbnail">
                            <img src="./resource/image/categroy/{{decal.category}}/sku_{{decal.SKU}}/1.jpg" alt="...">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h4>{{decal.name}}</h4>
                                    <p>{{decal.category}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div class="row">
                <hr>
                <div class="col-md-6">
                <h4>Wall hangings</h4>
                    </div>
                <div class="col-md-1 col-md-offset-5">
                <button type="submit" class="btn btn-info" onclick="window.location.href='#/product_search_result'">More</button>
                    </div>
            </div>

            <div class="row text-center">
                <div ng-repeat="wallHanging in wallHangings | filter:query">
                    <div class="col-md-3 col-xs-6">
                        <a href="#/product" class="thumbnail">
                            <img src="./resource/image/categroy/{{wallHanging.category}}/sku_{{wallHanging.SKU}}/1.jpg" alt="...">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h4>{{wallHanging.name}}</h4>
                                    <p>{{wallHanging.category}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div class="row">
                <hr>
                <div class="col-md-6">
                <h4>Wall murals</h4>
                    </div>
                <div class="col-md-1 col-md-offset-5">
                <button type="submit" class="btn btn-info" onclick="window.location.href='#/product_search_result'">More</button>
                    </div>
            </div>

            <div class="row text-center">
                <div ng-repeat="wallMural in wallMurals | filter:query">
                    <div class="col-md-3 col-xs-6">
                        <a href="#/product" class="thumbnail">
                            <img src="./resource/image/categroy/{{wallMural.category}}/sku_{{wallMural.SKU}}/1.jpg" alt="...">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h4>{{wallMural.name}}</h4>
                                    <p>{{wallMural.category}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <hr>
                <div class="col-md-6">
                <h4>Glass films</h4>
                    </div>
                <div class="col-md-1 col-md-offset-5">
                <button type="submit" class="btn btn-info" onclick="window.location.href='#/product_search_result'">More</button>
                    </div>
            </div>

            <div class="row text-center">
                <div ng-repeat="glassFilm in glassFilms | filter:query">
                    <div class="col-md-3 col-xs-6">
                        <a href="#/product" class="thumbnail">
                            <img src="./resource/image/categroy/{{glassFilm.category}}/sku_{{glassFilm.SKU}}/1.jpg" alt="...">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h4>{{glassFilm.name}}</h4>
                                    <p>{{glassFilm.category}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>