@import "color.less";
@import "font.less";
/*@header-margin-bottom: 30px;*/
@content-padding-top: 60px;
@fixed-nav-button-height: 60px;
@footer-padding-top: 30px;
@footer-height: 180px;
@ez-font-color: #337ab7;

body {
    /*padding-top: @fixed-nav-button-height + @header-margin-bottom;*/
    padding-top: @fixed-nav-button-height;
}

@wapper-height: @fixed-nav-button-height + (@footer-height - @footer-padding-top) + @content-padding-top;
@ez-content-min-height: calc(~'100vh' - @wapper-height);

.ez-content {
    padding-top: @content-padding-top;
    min-height: @ez-content-min-height;
}

.ez-navbar {
    /*background-color: @gray-lighter;*/
    background-color: rgba(245,245,245,0.88);
    /*background: -moz-linear-gradient(left,#fff,@gray-lighter,#fff);
    background: -webkit-linear-gradient(left,#fff,@gray-lighter,#fff);*/
    /*margin-bottom: @header-margin-bottom;*/
    height: @fixed-nav-button-height;
    line-height: @fixed-nav-button-height;

    .navbar-brand {
        color: @ez-font-color;
        font-family: 'Lucida Handwriting';
        font-size: 36px;

        img {
            width: 36px;
        }
    }

    .navbar-nav {
        > li {
            > a {
                color: @ez-font-color;
            }
        }
    }
}

.ez-hot-categroy {
    padding: 30px 0;
}

.clear-header-margin-bottom {
    /*margin-top: -@header-margin-bottom;*/
}

.footer {
    background-color: @gray-lighter;
    padding-top: @footer-padding-top;
}

.ez-carousel-template(@max-height, @overflow) {
    @slider-width: 100vw;
    /*max-height: ~calc(@max-height - @padding-top-for-fixed-nav-button);*/
    max-height: calc(~'100vh' - @fixed-nav-button-height);
    overflow: @overflow;

    & > .item {
        & > a {
            & > img {
                width: @slider-width;
            }
        }
    }
}

.ez-carousel {
    .ez-carousel-template(100vh, hidden);
}

/*sample for media query*/
/*@media screen and (max-width: 600px) {
    .ez-carousel-template(600px, auto);
}*/

a.thumbnail {
    z-index: 0;

    &:hover {
        /*transform: translate(-10px);
        box-shadow: 5px 5px 5px;*/
        transform: scale(1.1);
        /*transition:all 0.5s;*/
    }
}

.ez-slideshow {
    > .col-md-3 {
        padding: 0;

        &:hover {
            z-index: 999;
        }
    }
}

/*
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
    .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
    .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
    .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
    .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
    */

/*.vr:after {
    content: '';
    height: 100vh;
    width: 1px;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}*/

