@import "color.less";
@import "font.less";
/*@header-margin-bottom: 30px;*/
@content-padding-top: 70px;
@fixed-nav-button-height: @content-padding-top;
@footer-padding-top: 30px;
@footer-height: 180px;
@ez-font-color: #337ab7;
@sperator: 1px ridge silver;
@background-color: rgba(245,245,245,0.88);

body {
    /*padding-top: @fixed-nav-button-height + @header-margin-bottom;*/
    padding-top: @fixed-nav-button-height;
}

@wapper-height: @fixed-nav-button-height + (@footer-height - @footer-padding-top) + @content-padding-top;
@ez-content-min-height: calc(~'100vh' - @wapper-height);

.ez-content {
    padding-top: @content-padding-top;
    min-height: @ez-content-min-height;
}

.ez-navbar {
    /*background-color: @gray-lighter;*/
    background-color: @background-color;
    /*background: -moz-linear-gradient(left,#fff,@gray-lighter,#fff);
    background: -webkit-linear-gradient(left,#fff,@gray-lighter,#fff);*/
    /*margin-bottom: @header-margin-bottom;*/
    height: @fixed-nav-button-height;
    line-height: @fixed-nav-button-height;
    border-bottom: @sperator;

    .navbar-brand {
        color: @ez-font-color;
        font-family: 'Lucida Handwriting';
        font-size: 36px;

        .logo {
            width: 43px;
            height: 43px;
            background-size: contain;
            background-image: url("../resource/image/favicon.png");
        }

        &:hover {
            color: @ez-font-color;
        }

        &:focus {
            color: @ez-font-color;
        }
    }

    .navbar-nav {
        > li {
            > a {
                color: @ez-font-color;

                &:hover {
                    color: @ez-font-color;
                }

                &:focus {
                    color: @ez-font-color;
                }
            }
        }
    }
}

.ez-hot-category {
    padding: 30px 0;
}

.clear-header-margin-bottom {
    /*margin-top: -@header-margin-bottom;*/
}

.footer {
    background-color: @background-color;
    padding-top: @footer-padding-top;
    border-top: @sperator;
}

.ez-carousel-template(@max-height, @overflow) {
    @slider-width: 100vw;
    /*max-height: ~calc(@max-height - @padding-top-for-fixed-nav-button);*/
    max-height: calc(~'100vh' - @fixed-nav-button-height);
    overflow: @overflow;

    & > .item {
        & > a {
            & > img {
                width: @slider-width;
            }
        }
    }
}

.ez-carousel {
    .ez-carousel-template(100vh, hidden);
}

/*sample for media query*/
/*@media screen and (max-width: 600px) {
    .ez-carousel-template(600px, auto);
}*/

.ez-slides-bar {
    a.thumbnail {
        z-index: 0;
    }

    > .col-md-3 {
        padding: 0;

        &:hover {
            transform: scale(1.1);
            z-index: 999;
        }
    }
}

@cell-both-sides-padding: 15px;
@thumbnail-padding-plus-boder: 5px;
@thumbnail-cover-minus-padding: @cell-both-sides-padding + @thumbnail-padding-plus-boder;

.hotSuggestGallery-title {
    position: absolute;
    left: @thumbnail-cover-minus-padding;
    right: @thumbnail-cover-minus-padding;
    top: @thumbnail-padding-plus-boder;
    bottom: 25px;
    color: #fff;
    background-color: #808080;
    opacity: .1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: .5;
    }
}

@resource-base-path: '../resource/';
/*@mouse-png:@resource-base-path + 'image/mouse.png';*/
@mouse-png: '../resource/image/mouse.png';

.scrollBtn {
    z-index: 9999;
    background: url(@mouse-png) no-repeat top center;
    height: 40px;
    width: 80px;
    left: 50%;
    margin-left: -40px;
    opacity: .6;
    font-size: 12px;
    color: #fff;
    padding-top: 59px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    bottom: 70px;
    display: block;
    position: absolute;
}

.carousel-indicators {
    .active {
        width: 40px;
    }

    li {
        width: 10px;
    }
}

body {
    background-color: ghostwhite;
}