/*@padding-top-for-fixed-nav-button : 50px;*/
body {
  /*padding-top: @padding-top-for-fixed-nav-button;*/
}
.ez-slider {
  max-height: 100vh;
  overflow: hidden;
}
.ez-slider > .item > img {
  width: 100vw;
}
/*sample for media query*/
/*@media screen and (max-width: 600px) {
    .ez-slider-template(600px, auto);
}*/
