@import "plugin/carousel.less";
@import "header.less";

@fixed-nav-bar-height: 70px;
@footer-padding-top: 30px;
@footer-height: 180px;
@sperator-width: 1px;
@sperator: @sperator-width ridge silver;
@content-padding-top: 70px;
@content-wapper-height: @fixed-nav-bar-height + @sperator-width + @content-padding-top + @sperator-width + @footer-height - @footer-padding-top;
@content-min-height: calc(~'100vh' - @content-wapper-height);

body {
    padding-top: @fixed-nav-bar-height;
}

.ez-navbar {
	.ez-navbar-template (@fixed-nav-bar-height, @sperator);
}

.ez-content {
    padding-top: @content-padding-top;
    min-height: @content-min-height;
}

.footer {
    padding-top: @footer-padding-top;
    border-top: @sperator;
}

/* plugin-setting */
.ez-carousel {
    @max-height: calc(~'100vh' - @fixed-nav-bar-height);
    .ez-carousel-template(@max-height, hidden);
}
